<header class="navbar navbar-expand-lg navbar-dark bd-navbar">
    <a class="navbar-brand font-weight-bolder" href="/">{{ .Site.Title}}</a>
    <button class="navbar-toggler bd-navbar-toggler pr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="small font-weight-bolder">
            &#9776; MENU
        </span>
    </button>

    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active font-weight-bolder">
                <a class="nav-link" href="/products/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active font-weight-bolder">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown active font-weight-bolder">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </nav>
</header>